@model ResetPasswordModel
<h1 class="h3">Forgot My Password</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="PasswordReset" method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group column">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
  </div>